---
layout: landing
title: Home
---

<p class="alert alert-success">
<span class="label label-success">NEW</span>
The 14th Annual <strong>USF Computer Science Night</strong> will be Thursday, December 10, 2015. Festivities will begin in LS 307 at 6:30pm. A keynote by Cameron Walters, Head of Engineering at Din and part of the founding team at Square, will start at 7:45pm in Harney 232. Visit <a href="http://csnight.cs.usfca.edu/">csnight.cs.usfca.edu</a> for details and to RSVP!
</p>

{% include details.html %}

<h2>Weekly Schedule</h2>

<div class="panel panel-default">
<table class="table table-hover">
<thead>
  <tr>
    <th>Week</th>
    <th>Lecture</th>
    <th>Topics</th>
  </tr>
</thead>

<tbody>
{% for row in site.data.schedule %}
  <tr{% if row.gray %} class="active text-muted"{% elsif row.iffy %} class="iffy"{% endif %}>
    <td class="text-center nowrap">{{ row.week }}</td>
    <td class="nowrap">{{ row.date | date: "%m/%d" }}{% if row.flag %} <i class="fa fa-star"></i>{% endif %}</td>
    <td class="fill">{{ row.info }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>

<p>See the <a href="{{ site.github.url }}/schedule.html">Schedule</a> page for assigned papers and more information.
