<h2 class="page-header">Course Policies</h2>

<p>See below for the course policies regarding attendance, late work, and the honor code. The policies for this class are strict, but students concerned about their grades are welcome to inquire about extra credit opportunities.</p>

<h3>Late Policy</h3>

<p>It the responsibility of the student to turn in assignments <strong>before</strong> (not at or after) the deadline provided. Late assignments will not be graded.</p>

<p>Exceptions to this policy are made only in the case of verifiable medical or family emergency. Extensions must be arranged <strong>prior</strong> to the original deadline unless in case of extreme emergency (such as an emergency room visit).</p>

<h3>Academic Honesty</h3>

<p>All students are expected to know and adhere to the <a href="http://www.usfca.edu/academic-integrity/honor-code/">Academic Honor Code</a> of the University of San Francisco. The pledge all students must adhere to is:</p>

<blockquote>
I pledge to demonstrate the core values of the University of San Francisco by upholding the standards of <strong>honesty</strong> and <strong>integrity</strong>, <strong>excellence</strong> in my academic work, and <strong>respect for others</strong> in my educational experiences, including supporting USF's mission.
<footer><cite>USF Academic Honor Pledge at <a href="http://www.usfca.edu/academic-integrity/honor-code/">http://www.usfca.edu/academic-integrity/honor-code/</a></cite></footer>
</blockquote>

<p>The standards of "honesty and integrity" includes statements on cheating, plagiarism, and fraud. This covers the use of unauthorized materials, participating in unauthorized collaboration, copying without attribution work from the web or elsewhere, and in any way representing the work of others as one's own. Go to <a href="http://www.usfca.edu/academic-integrity/honor-code/">http://www.usfca.edu/academic-integrity/honor-code/</a> for more details.</p>

<p><strong class="text-danger">Violations of the Academic Honor Code will result in an F letter grade for the course and reports to the Academic Integrity Committee, the Dean, and the department chair.</strong> At the discretion of the instructor, a less severe penalty may be imposed for minor or first offenses. This is at the sole discretion of the instructor and <em>any</em> violation may result in an F in the course.</p>
