<h2 class="page-header">Course Policies</h2>

<p>The following are the policies specific to this course. The policies for this class are strict, but students concerned about their grades are welcome to inquire about extra credit opportunities.</p>

<h3>Late Submissions</h3>

<p>It the responsibility of the student to turn in assignments <strong>before</strong> (not at or after) the deadline provided. Late assignments will not be graded.</p>

<p>Exceptions to this policy are made only in the case of verifiable medical or family emergency. Extensions must be arranged <strong>prior</strong> to the original deadline unless in case of extreme emergency (such as an emergency room visit).</p>

<h3>Honor Code Violations</h3>

<p>All students are expected to know and adhere to the <a href="http://myusf.usfca.edu/academic-integrity/honor-code">Academic Honor Code</a> of the University of San Francisco. See the "University Policies" section in this syllabus for more information.</p>

<p><strong>You must never represent another person's work as your own.</strong> Examples of violations include (but are not limited to): copying and pasting text without attribution from a paper or the web, copying from another student, and having anyone other than yourself complete your assignments. It also includes working too closely with another student. Unauthorized collaboration or discussion that results in the same or very similar submissions indicates that you have not placed enough independent work into your submission and is a violation of the honor code.</p>

<p><strong class="text-danger">Flagrant or repeat violations of the honor code will result in an F in the course, a report to the Academic Integrity Committee (AIC), and a report to the Dean.</strong> At the discretion of the instructor, a less severe penalty may be imposed for minor or first offenses. This is at the sole discretion of the instructor and <em>any</em> violation may result in an F in the course.</p>

