<h2 class="page-header">University Policies</h2>

<p>The following policies apply to all students at the University of San Francisco. Visit the <a href="https://www.usfca.edu/catalog/policies">General Catalog</a> at <a href="https://www.usfca.edu/catalog/policies">www.usfca.edu/catalog/policies</a> for more information.</p>

<h3>Academic Integrity</h3>

<p>As a Jesuit institution committed to <em>cura personalis</em>&mdash;the care and education of the whole person&mdash;USF has an obligation to embody and foster the values of honesty and integrity. USF upholds the standards of honesty and integrity from all members of the academic community. All students are expected to know and adhere to the University's <a href="http://myusf.usfca.edu/academic-integrity/honor-code">Academic Honor Code</a>. Visit <a href="http://myusf.usfca.edu/academic-integrity/honor-code">myusf.usfca.edu/academic-integrity</a> for the full text of the honor code.</p>

<p>The policy includes standards of "honesty and integrity" that cover cheating, plagiarism, and academic fraud. This includes the use of unauthorized materials, participating in unauthorized collaboration, copying without attribution work from the web or elsewhere, sharing your work without authorization on the web or elsewhere, and in any way representing the work of others as one's own.</p>

<p>Visit <a href="http://myusf.usfca.edu/academic-integrity/honor-code">myusf.usfca.edu/academic-integrity</a> for more details. The course-specific penalties for violating the academic honor code are described in the "Course Policies" section of this syllabus.</p>

<h3>Student Conduct</h3>

<p>All students are expected to behave in accordance with the <a href="http://myusf.usfca.edu/fogcutter/student-conduct/section-5-prohibited-conduct">Student Conduct Code</a> and other <a href="https://www.usfca.edu/catalog/policies">University policies</a>.</p>

<p>Open discussion and disagreement is encouraged when done respectfully and in the spirit of academic discourse. There are also a variety of behaviors that, while not against a specific University policy, may create disruption in this course. Students whose behavior is disruptive or who fail to comply with the instructor may be dismissed from the class for the remainder of the class period and may need to meet with the instructor or Dean prior to returning to the next class period. If necessary, referrals may also be made to the <a href="https://myusf.usfca.edu/student-health-safety/student-conduct/conduct-process">Student Conduct Process</a> for violations of the <a href="http://myusf.usfca.edu/fogcutter/student-conduct/section-5-prohibited-conduct">Student Conduct Code</a>.</p>

<p>Please visit the <a href="https://myusf.usfca.edu/student-health-safety/student-conduct/">Office of Student Conduct, Rights, and Responsibilities (OSCRR)</a> at <a href="https://myusf.usfca.edu/student-health-safety/student-conduct/">myusf.usfca.edu/student-conduct</a> or the <a href="http://myusf.usfca.edu/fogcutter">Student Handbook</a> at <a href="http://myusf.usfca.edu/fogcutter">myusf.usfca.edu/fogcutter</a> for more information.</p>

<h3>Mandatory Reporting</h3>

<p>As an instructor, one of my responsibilities is to help create a safe learning environment on our campus. I also have a mandatory reporting responsibility related to my role as a faculty member. I am required to share information regarding sexual misconduct or information about a crime that may have occurred to a USF student with the University. Here are other resources:</p>

<ul>
<li><p>Students may visit Anna Bartkowski (UC 5th floor) or visit <a href="http://myusf.usfca.edu/student-health-safety/safer">myusf.usfca.edu/student-health-safety/safer</a> to report any sexual misconduct.</p></li>

<li><p>Students may contact <a href="http://myusf.usfca.edu/student-health-safety/caps">Counseling and Psychological Services (CAPS)</a> at 415-422-6352 to speak to someone confidentially, or report a sexual assault confidentially.</p></li>

<li><p>Students may visit the <a href="http://www.usfca.callistocampus.org">Callisto</a> website at <a href="http://www.usfca.callistocampus.org">www.usfca.callistocampus.org</a> to find out more about reporting a sexual assault at USF.</p></li>

<li><p>Students may contact <a href="http://www.sfwar.org">San Francisco Women Against Rape (SFWAR)</a> at <a href="http://www.sfwar.org">www.sfwar.org</a> or call (415) 647-7273 for an off-campus resource.</p></li>
</ul>

<p>Visit <a href="http://myusf.usfca.edu/student-health-safety/safer">myusf.usfca.edu/student-health-safety/safer</a> for more information.

<h3>Tuition Reversal</h3>

<p>Students who wish to have the tuition charges reversed on their student account should withdraw from the course(s) by the end of the business day on the last day to withdraw with tuition credit (census date) for the applicable course(s) in which the student is enrolled.</p>

<p>Please note that the last day to withdraw with tuition credit may vary by course. The last day to withdraw with tuition credit (census date) listed in the <a href="http://myusf.usfca.edu/onestop/registration/academic-calendar">Academic Calendar</a> is applicable only to courses which meet for the standard 15-week semester. To find what the last day to withdraw with tuition credit is for a specific course, please visit the <a href="http://myusf.usfca.edu/onestop/registration/class-schedule-final-exams">Online Class Schedule</a>.</p>

<p>Visit <a href="http://myusf.usfca.edu/onestop">myusf.usfca.edu/onestop</a> or call (415) 422-2020 for more information.</p>

<h2 class="page-header">Student Resources</h2>

<p>The following are general resources available to students at the University of San Francisco. For more information, please contact the relevant office.</p>

<h3>Student Disability Services</h3>

<p>If you are a student with a disability or disabling condition, or if you think you may have a disability, please contact <a href="http://myusf.usfca.edu/student-life/sds">Student Disability Services (SDS)</a> within the first week of class, or immediately upon onset of disability, to speak with a disability specialist. If you are determined eligible for reasonable accommodations, please meet with your disability specialist so they can arrange to have your accommodation letter sent to the instructor.</p>

<p>Visit <a href="http://myusf.usfca.edu/student-life/sds">myusf.usfca.edu/sds</a> or call (415) 422-2613 for more information.</p>

<h3>Learning and Writing Center</h3>

<p>The <a href="http://myusf.usfca.edu/student-life/lwc">Learning and Writing Center (LWC)</a> provides assistance to all students in pursuit of academic success. Peer tutors provide regular review and practice of course materials in the subjects of Math, Science, Business, Economics, Nursing and Languages. Other content areas can be made available by student request. Log-on to <a href="https://tutortrac.usfca.edu">TutorTrac</a> at <a href="https://tutortrac.usfca.edu">tutortrac.usfca.edu</a> to schedule an appointment. Students may also take advantage of writing support provided by Rhetoric and Language Department instructors and academic study skills support provided by Learning Center professional staff.</p>

<p>Visit <a href="http://myusf.usfca.edu/student-life/lwc">myusf.usfca.edu/lwc</a> or call (415) 422-6713 for more information.</p>

<h3>Counseling and Psychological Services</h3>

<p>The diverse staff at <a href="http://myusf.usfca.edu/student-health-safety/caps">Counseling and Psychological Services (CAPS)</a> offers brief individual, couple, and group counseling to student members of our community. CAPS services are confidential and free of charge. Call (415) 422-6352 for an initial consultation appointment. Having a crisis at 3am? CAPS is still there for you. Telephone consultation through CAPS After Hours is available between the hours of 5:00pm to 8:30am; call the above number and press 2.</p>

<p>Visit <a href="http://myusf.usfca.edu/student-health-safety/caps">myusf.usfca.edu/caps</a> or call (415) 422-6352 for more information.</p>





