
<h2 class="page-header">Student Resources</h2>

<p>The following resources are available to all undergraduate and graduate students at the University of San Francisco.</p>

<h3>Student Disability Services</h3>

<p>If you are a student with a disability or disabling condition, or if you think you may have a disability, please contact <a href="http://www.usfca.edu/sds">Student Disability Services (SDS)</a> at (415) 422-2613 within the first week of class, or immediately upon onset of disability, to speak with a disability specialist. If you are determined eligible for reasonable accommodations, please meet with your disability specialist so they can arrange to have your accommodation letter sent to the instructor.</p>

<p>For more information, please visit: <a href="http://www.usfca.edu/sds">www.usfca.edu/sds</a> or call (415) 422-2613.</p>

<h3>Learning and Writing Center</h3>

<p>The <a href="http://www.usfca.edu/lwc">Learning and Writing Center (LWC)</a> provides assistance to all students in pursuit of academic success. Peer tutors provide regular review and practice of course materials in the subjects of Math, Science, Business, Economics, Nursing and Languages. Other content areas can be made available by student request. To schedule an appointment, log-on to <a href="https://tutortrac.usfca.edu">TutorTrac</a> at <a href="https://tutortrac.usfca.edu">tutortrac.usfca.edu</a>. Students may also take advantage of writing support provided by Rhetoric and Language Department instructors and academic study skills support provided by Learning Center professional staff.</p>

<p>For more information about these services contact the Learning and Writing Center via phone at (415) 422-6713, email at <a href="mailto:lwc@usfca.edu">lwc@usfca.edu</a>, or stop by the office in Cowell 215. Information can also be found on the website at <a href="http://www.usfca.edu/lwc">www.usfca.edu/lwc</a>.</p>
